@charset "utf-8";

.component_bar .line{
   height: 15px;
   font-size:12px;
   line-height: 15px;
   margin-bottom: 15px;
   padding-left: 40px;
   padding-right: 30px;
}

.component_bar .name{
	width:40px;
    float: left;
    color: #000;
    text-align: center;
    margin-left: -40px;
}
.component_bar .rate{
	height: 15px;
	margin-left: 5px;
	float: left;
	position: relative;
	-webkit-border-radius:0 3px 3px 0;
	border-radius:0 3px 3px 0;
}
.component_bar .rate .bg{
	background-color: #99c0ff;
	width:0;
	height: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	-webkit-border-radius:0 3px 3px 0;
	border-radius:0 3px 3px 0;
	-webkit-transition:all 1s .5s;
	transition:all 1s .5s;
}
.component_bar .per{
	width: 30px;
	margin-left: 5px;
	margin-right: -40px;
	float: left;
	color: #99c0ff;
	opacity: 0;
	-webkit-transition:all 1s 1.2s;
	transition:all 1s 1.2s;
}
.component_bar_load .rate .bg{
   width:100%;
}
.component_bar_load .per{
  opacity: 1;
}